@import '../../node_modules/normalize.css/normalize';
@import '../shared/colors.scss';

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html, body, #sby, .sby-root {
  height: 100%;
}

body {
  font-family: 'Kulim Park', sans-serif;
  font-size: 16px;
}

.sby-input-group {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input[type='text'] {
    background-color: $sby-color-light-gray;
    border-radius: 2px;
    border: thin solid $sby-color-medium-gray;
    display: block;
    font-size: 0.875rem;
    padding: 0.375rem 0.5rem;
    width: 100%;

    &:focus {
      background-color: white;
      border-color: $sby-color-dark-pink;
      box-shadow: 0 0 0 0.2rem $sby-color-light-pink;
      outline: none;
    }

    &::selection {
      background: $sby-color-light-pink;
    }
  }
}

.sby-button-group {
  button {
    background: $sby-color-dark-purple;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.375rem 0.5rem;
    user-select: none;

    &:focus,
    &:active:not(:disabled) {
      box-shadow: 0 0 0 0.2rem $sby-color-light-pink;
      outline: none;
    }

    &:disabled {
      cursor: default;
      opacity: 0.75;
    }

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}
