.sby-account-name {
  .sby-icon {
    display: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover ~ .sby-icon {
      display: inline-block;
      margin-left: 0.25em;
    }
  }

  &.sby-input-group input[type="text"] {
    font-size: unset;
    margin: -7px -9px;
    width: calc(100% + 18px);
  }
}
