@import '../../shared/colors.scss';
@import '../../shared/fonts.scss';

.sby-balance {
  border-bottom: thin dashed $sby-color-medium-gray;
  border-top: thin dashed $sby-color-medium-gray;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;

  th[scope='col'] {
    font-style: italic;
    font-weight: normal;
    white-space: nowrap;
  }

  th[scope='row'] {
    padding-right: 1em;
    text-align: right;
  }

  td {
    font-family: $sby-font-numbers;
    font-weight: normal;

    &.positive {
      color: $sby-color-medium-green;
    }

    &.negative {
      color: $sby-color-medium-red;
    }
  }

  .operator {
    color: $sby-color-dark-gray;
    padding: 0 1em;
  }
}
