@use '../../shared/colors';
@use '../../shared/fonts';

.sby-balance {
  border-bottom: thin dashed colors.$medium-gray;
  border-top: thin dashed colors.$medium-gray;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;

  th,
  td {
    text-align: right;
    white-space: nowrap;
  }

  th[scope='col'] {
    font-style: italic;
    font-weight: normal;
  }

  th[scope='row'] {
    padding-right: 1rem;
  }

  .pull {
    width: 100%;
  }

  td {
    font-family: fonts.$numbers;
    font-size: 1.5rem;
    text-align: right;

    &.positive {
      color: colors.$medium-green;
    }

    &.negative {
      color: colors.$medium-red;
    }
  }

  .operator {
    color: colors.$dark-gray;
    padding: 0 1em;
  }
}
