@use '../../shared/colors';
@use '../../shared/variables';

.sby-footer {
  align-items: center;
  background: colors.$light-gray;
  border-top: thin dashed colors.$medium-gray;
  color: colors.$dark-gray;
  display: flex;
  font-size: 0.875rem;
  grid-column: 2;
  grid-row: 2;
  height: 3rem;
  justify-content: flex-end;
  padding: 0 1rem;

  a {
    color: inherit;
    margin: 0 0.25em;
    text-decoration: underline;
  }
}
