@import '../../shared/colors.scss';
@import '../../shared/fonts.scss';

.sby-transactions {
  table {
    border-spacing: 0;
    margin: 1rem 0;
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: $sby-color-light-gray;
    border-bottom: thin solid $sby-color-medium-gray;
    border-right: thin solid $sby-color-medium-gray;
    border-top: thin solid $sby-color-medium-gray;

    &:first-child {
      border-left: thin solid $sby-color-medium-gray;
      border-top-left-radius: 2px;
    }

    &:nth-last-child(2) {
      border-top-right-radius: 2px;
    }
  }

  .currency {
    font-family: $sby-font-numbers;
    text-align: right;
  }

  tbody {
    td {
      background: white;
      border-bottom: thin solid $sby-color-medium-gray;
      border-right: thin solid $sby-color-medium-gray;

      &:first-child {
        border-left: thin solid $sby-color-medium-gray;
      }

      &.date {
        font-family: $sby-font-numbers;
      }
    }

    tr {
      &:hover td:not(:last-child) {
        background: rgba($sby-color-light-pink, 0.1);
      }

      &:last-child td {
        &:first-child {
          border-bottom-left-radius: 2px;
        }

        &:nth-last-child(2) {
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  .actions {
    border: none;
    padding: 0 0.5rem;

    button {
      width: 100%;
    }
  }
}
