@use '../../shared/colors';
@use '../../shared/fonts';

.sby-transactions {
  table {
    border-spacing: 0;
    margin: 1rem 0;
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;
  }

  th {
    background: colors.$light-gray;
    border-bottom: thin solid colors.$medium-gray;
    border-right: thin solid colors.$medium-gray;
    border-top: thin solid colors.$medium-gray;

    &:first-child {
      border-left: thin solid colors.$medium-gray;
      border-top-left-radius: 2px;
    }

    &:nth-last-child(2) {
      border-top-right-radius: 2px;
    }
  }

  .currency {
    font-family: fonts.$numbers;
    text-align: right;
  }

  tbody {
    td {
      background: white;
      border-bottom: thin solid colors.$medium-gray;
      border-right: thin solid colors.$medium-gray;

      &:first-child {
        border-left: thin solid colors.$medium-gray;
      }

      &.date {
        font-family: fonts.$numbers;
      }
    }

    tr {
      &:hover td:not(:last-child) {
        background: rgba(colors.$light-pink, 0.1);
      }

      &:last-child td {
        &:first-child {
          border-bottom-left-radius: 2px;
        }

        &:nth-last-child(2) {
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  .actions {
    border: none;
    padding: 0 0.5rem;

    button {
      width: 100%;
    }
  }
}
