@import '../../colors.scss';

.text-input {
  label {
    color: scale-color($text-color-1, $lightness: 20%);
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    width: 100%;
  }

  input {
    border: 1px solid change-color($text-color-1, $alpha: 0.5);
    border-radius: 2px;
    color: $text-color-1;
    display: block;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    margin-top: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &:focus {
      color: $text-color-1;
      border-color: $primary-color;
      box-shadow: 0 0 5px adjust-color($primary-color, $lightness: 30%);
      outline: none;
    }
  }
}
