@use '../shared/colors';

$transition-time: 0.3s;

@keyframes anim-open {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 1);
  }
}

.sby-modals-root,
.sby-modal-overlay {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.sby-modal-overlay {
  background: rgba(colors.$dark-gray, 0.9);
  opacity: 0;
  position: absolute;
  transition: opacity $transition-time;
  z-index: 1;
}

.sby-modal-content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1rem colors.$dark-gray;
  max-width: 560px;
  min-width: 290px;
  opacity: 0;
  padding: 1rem;
  position: relative;
  width: 50%;
  z-index: 5;

  header {
    h2 {
      margin: 0;
    }
  }

  .modal-buttons {
    text-align: right;
  }
}

.sby-modals-root {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
  position: fixed;

  &.active {
    .sby-modal-overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .sby-modal-content {
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      animation-name: anim-open;
      pointer-events: auto;
    }
  }

  &.inactive .sby-modal-content {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: anim-close;
  }
}

.sby-error-modal {
  header {
    background: colors.$medium-red;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: white;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem;
  }
}
