$sby-color-dark-purple: #413c69;
$sby-color-medium-purple: #4a47a3;
$sby-color-dark-pink: #ad62aa;
$sby-color-light-pink: #f4b0c7;
$sby-color-dark-green: #143d0b;
$sby-color-medium-green: hsl(134, 76%, 36%);
$sby-color-light-green: #99de89;
$sby-color-medium-red: #d33c2d;
$sby-color-medium-yellow: #fdbe2a;

$sby-color-light-gray: #fafbfc;
$sby-color-medium-gray: #d1d5da;
$sby-color-dark-gray: #88979d;
