@use '../shared/colors';
@use '../shared/fonts';

@font-face {
  font-display: swap;
  font-family: 'Kulim Park';
  font-style: italic;
  font-weight: 400;
  src:
    local('Kulim Park Italic'),
    local('KulimPark-Italic'),
    url('../resources/fonts/kulimpark-italic.woff') format('woff');
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Kulim Park';
  font-style: normal;
  font-weight: 400;
  src:
    local('Kulim Park Regular'),
    local('KulimPark-Regular'),
    url('../resources/fonts/kulimpark-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Kulim Park';
  font-style: normal;
  font-weight: 600;
  src:
    local('Kulim Park SemiBold'),
    local('KulimPark-SemiBold'),
    url('../resources/fonts/kulimpark-semibold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
    local('Lato Regular'),
    local('Lato-Regular'),
    url('../resources/fonts/lato-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html, body, #sby, .sby-app {
  height: 100%;
}

body {
  font-family: fonts.$default;
  font-size: 16px;
}

#sby {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sby-app {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

%sby-input {
  appearance: none;
  background-color: white;
  border-radius: 2px;
  border: thin solid colors.$medium-gray;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.375rem 0.5rem;
  width: 100%;

  &:focus {
    background-color: white;
    border-color: colors.$dark-pink;
    box-shadow: 0 0 0 0.2rem colors.$light-pink;
    outline: none;
  }

  &::selection {
    background: colors.$light-pink;
    outline: none;
  }

  &:disabled {
    background-color: colors.$light-gray;
    color: colors.$dark-gray;
  }
}

.sby-input-group {
  margin-bottom: 1rem;
  position: relative;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  input[type='text'],
  select {
    @extend %sby-input;
  }

  input[type='text']:read-only {
    background-color: colors.$light-gray;
    color: colors.$dark-gray;
  }
}

textarea {
  @extend %sby-input;
  resize: none;
}

.sby-input-group-collection {
  .sby-input-group {
    width: 100%;
  }
}

.sby-button-group {
  button {
    background: colors.$dark-purple;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.375rem 0.5rem;
    user-select: none;

    &:disabled {
      cursor: default;
      opacity: 0.75;
    }

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    &:focus,
    &:active:not(:disabled) {
      box-shadow: 0 0 0 0.2rem colors.$light-pink;
      outline: none;
    }

    &:hover:not(:disabled) {
      text-decoration: underline;
    }

    &.danger {
      background: colors.$medium-red;

      &:focus,
      &:active:not(:disabled) {
        box-shadow: 0 0 0 0.2rem rgba(colors.$medium-red, 0.5);
      }
    }

    &.link {
      background: none;
      border: none;
      color: black;
      font-size: 1rem;
      font-weight: normal;
      padding: 0 0.5rem;
    }
  }

  & + & {
    margin-top: 1rem;
  }
}
