@import '../shared/colors.scss';

.sby-onboarding {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h1 {
    margin: 0 0 1rem 0;
  }

  .sby-onboarding-instructions {
    margin: 0 0 2rem 0;
    max-width: 900px;
    text-align: left;
  }

  a {
    color: $sby-color-dark-pink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .example {
    background: rgba($sby-color-light-pink, 0.2);
    color: $sby-color-dark-gray;
    padding: 0.25rem;

    strong {
      color: black;
      font-weight: normal;
    }
  }
}
