@use '../shared/colors';

.sby-onboarding-footer {
  bottom: 0;
  color: colors.$dark-gray;
  font-size: 0.875rem;
  padding: 0.25em;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    margin: 0.25em;
  }
}

.sby-onboarding {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  h1 {
    margin: 0 0 1rem 0;
  }

  h2 {
    color: colors.$dark-gray;
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  .sby-onboarding-instructions {
    margin: 0 0 2rem 0;
    max-width: 600px;
    text-align: left;
  }

  a {
    color: colors.$dark-pink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .example {
    background: rgba(colors.$light-pink, 0.2);
    color: colors.$dark-gray;
    padding: 0.25rem;

    strong {
      color: black;
      font-weight: normal;
    }
  }

  .steps {
    align-items: center;
    color: colors.$medium-gray;
    display: flex;
    margin: 1rem 0;

    .step {
      border: thin solid colors.$medium-gray;
      border-radius: 50%;
      height: 0.75rem;
      margin: 0 0.25rem;
      width: 0.75rem;

      &.active {
        border: none;
        background: colors.$light-pink;
      }
    }

    .sby-icon {
      margin-left: 0.25rem;
    }
  }

  .sby-error {
    color: colors.$medium-red;
    margin-top: 1rem;

    .sby-icon {
      margin-right: 0.25em;
      position: relative;
      top: 0.375em;
    }
  }
}
