@import '../shared/colors.scss';

.sby-onboarding {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.sby-onboarding-account-lists {
  display: flex;
}

.sby-onboarding-accounts {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: thin solid $sby-color-medium-gray;
    border-left: thin solid $sby-color-medium-gray;
    border-right: thin solid $sby-color-medium-gray;
    padding: 0.5rem 1rem;
    width: 100%;

    &:first-child {
      border-top: thin solid $sby-color-medium-gray;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    &:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  h3 {
    margin: 0;
  }
}
