@use '../shared/colors';
@use '../shared/fonts';

.sby-accounts {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.sby-accounts-page {
  background: colors.$light-gray;
  grid-column: 2;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;

  &.empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      margin-bottom: 0.5rem;
    }
  }

  h1 {
    margin: 0 0 1rem 0;
  }

  h2 {
    font-weight: normal;

    .sby-icon {
      margin-left: 0.5rem;
      position: relative;
      top: 0.1875rem;
    }
  }

  .sby-link-group {
    margin-bottom: 1rem;

    a {
      color: colors.$dark-pink;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .separator {
      color: colors.$dark-gray;
      content: '•';
      margin: 0 0.5rem;
    }
  }

  .sby-balance {
    margin-bottom: 1rem;
  }
}
