@import '../shared/colors.scss';
@import '../shared/fonts.scss';

.sby-accounts {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

.sby-accounts-list {
  background: $sby-color-light-gray;
  grid-column: 2;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;

  &.empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin: 0 0 1rem 0;
  }

  h2 {
    font-weight: normal;

    .sby-icon {
      margin-left: 1rem;
      position: relative;
      top: 3px;
    }
  }

  .sby-balance {
    margin-bottom: 1rem;
  }
}

.sby-balance {
  th[scope="row"] {
    text-align: right;
  }

  td {
    font-weight: 600;
    font-size: 1.5em;
    text-align: right;
  }
}
