@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Kulim Park';
    font-style: italic;
    font-weight: 400;
    src: local('Kulim Park Italic'), local('KulimPark-Italic'),
      url('./resources/fonts/kulimpark-italic.woff') format('woff');
  }

  /* latin */
  @font-face {
    font-display: swap;
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 400;
    src: local('Kulim Park Regular'), local('KulimPark-Regular'),
      url('./resources/fonts/kulimpark-regular.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'Kulim Park';
    font-style: normal;
    font-weight: 600;
    src: local('Kulim Park SemiBold'), local('KulimPark-SemiBold'),
      url('./resources/fonts/kulimpark-semibold.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
      url('./resources/fonts/lato-regular.woff') format('woff');
  }
}
