$bg-color-1: hsl(247, 30%, 96%);
$text-color-2: hsl(227, 18%, 65%);
$border-color-1: hsl(222, 21%, 91%);

$bg-color: hsl(330, 33%, 99%);
$bg-color-medium: hsl(255, 57%, 97%);
$text-color: hsl(225, 80%, 12%);
$text-color-subtle: hsl(225, 15%, 43%);

$primary-color: hsl(200, 100%, 70%);
$primary-color-dark: hsl(215, 46%, 34%);
$secondary-color: hsl(12, 100%, 82%);
$tertiary-color: hsl(165, 48%, 39%);

$primary-font: 'Lato', sans-serif;
