@import './fonts/fonts.css';
@import './globals.scss';

* {
  box-sizing: border-box;
}

html {
  background: $bg-color;
  color: $text-color;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 5em auto;
  height: 100%;
}
